[phases.setup]
nixPkgs = ["nodejs-18_x", "npm-9_x"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "npm run build",
  "npm run prisma:generate"
]

[start]
cmd = "npm run prisma:migrate:deploy && npm start"

